<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BAFlight : Bad Request</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="fragments/header :: header-data"></div>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>

<div id="error-content" class="container text-center align-middle">

    <h1>400</h1>

    <div class="container ">
        <p><em>HTTP 400 Bad Request</em></p>
        <p>The server cannot process the request due to client error</p>

        <div class="mt-5">
            <p>: Return to :</p>
            <a href="/" class="btn btn-light">Home</a>
            <a href="javascript:history.back()" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

</body>

</html>

