<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administrator View User Profiles</title>

    <div th:replace="fragments/header :: header-data"></div>
</head>

<body>

    <nav th:replace="fragments/header :: navigation-bar"></nav>

        <div class="col-lg-12 align-self-center">
            <h2>Users</h2>
            <table class="table table-hover table-fixed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Reservations</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td class="counterCell"></td>
                    <td th:text="${user.getUsername()} "></td>
                    <td th:text="${user.getEmail()} "></td>
                    <td> <a th:href="@{/getUserReservations/{username}(username = ${user.getUsername()})}" class="btn btn-danger">View Reservations</a></td>
                    <td> <a th:href="@{/viewProfile/{username}(username = ${user.getUsername()})}" class="btn btn-danger">View Profile</a></td>
                </tr>
                </tbody>
            </table>
        </div>

</body>
</html>