<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<meta name = "viewport" content="width = device-width, intial-scale = 1">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<style type="text/css">

			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: white;
				color: black;
				text-align: left;
				padding-right: 1%;
			}

		</style>

		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
		<script src="javascript/script.js"></script>
		<script src="script.js"></script>


	</head>
	<body>
		<div class="container">
		  <div class="row">
		    <div class="col-8">
		    	<h1>Secure Airways</h1>
		    </div>
		    <div class="col-2" style="margin-top: 15px">	
		    	<button type="button" class="btn btn-outline-secondary">Sign up</button>
		    </div>
		    <div class="col-2" style="margin-top: 10px">	
		    	<button type="button" class="btn btn-primary btn-lg">Log in</button>
		    </div>
		  </div>
		</div>
		<hr style="color: green; display: block;" >

		<div class="container">
			<div class="row">
				<div class="col-6">
					<h4>Payment Method</h4>
					<br>
					<form action="/processPayment" method="post" >
						<div class="form-group">
						    <label for="cardholderName">CARDHOLDER NAME</label>
						    <input type="text" class="form-control" id="cardholderName" name="cardholderName" required="required">
						 </div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="formSelect1">CREDIT/DEBIT CARD</label>
									<select class="form-control" id="formSelect1" name="card_type" required>
										<option value="">Choose ...</option>
										<option value="Visa Debit">Visa Debit</option>
										<option value="Visa Electron">Visa Electron</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
						    <label for="cardNumber">CARD NUMBER</label>
						    <input type="text" class="form-control" id="cardNumber" name="credit_card_details" required="required">
						 </div>
						 <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="expiryMonth">EXPIRES</label>
						      <input type="number" class="form-control" id="expiryMonth" placeholder="Month" name="expiryMonth" min="1" max="12" required="required">
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputPhoneNumber">.</label>
						      <input type="number" class="form-control" id="expiryYear" placeholder="Year" name="expiryYear" min="2021" max="2050" required="required">
						    </div>
						 </div>
					<br>
						<div class="form-row">
						<div class="form-group col-md-6">
						    <label for="securityCode">SECURITY CODE</label>
						    <input type="text" class="form-control" id="securityCode" name="securityCode" required="required">
						 </div>
						    <div class="form-group col-md-6">
						    </div>
						 </div>
						<div class="form-group">
						    <div class="form-check">
						      <input class="form-check-input" type="checkbox" id="gridCheck">
						      <label class="form-check-label" for="gridCheck">
						        I agree to the Terms and Conditions
						      </label>
						    </div>
						 </div> 
					<br>
					<button type="submit" class="btn btn-primary">Pay Now</button>
					</form>
					
				</div>
				<div class="col-6">
<!-- 					<h4>Choose Flights</h4>
					<form action="/processFlightSearch" method="post" >



					<button type="submit" class="btn btn-primary">Submit</button>
					</form> -->
				</div>
			</div>
		</div>
		 <div class="footer">
		 	<p>&copy; 2020 Email: <a href="mailto:olanipekun.akintola@ucdconnect.ie">olanipekun.akintola@ucdconnect.ie</a>.</p>
 		 </div>

		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	</body>
	</html>