<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Select Payment Method</title>

		<div th:replace="fragments/header :: header-data"></div>
	</head>
	<body>
		<nav th:replace="fragments/header :: navigation-bar"></nav>

		<div class="container">

				<h3>Payment Method</h3>
				<div th:each="entry: ${user.getRoles()}">
					<div th:if="${entry.name} == 'MEMBER'">
						<div class="container">
							<form th:if="${cards.size() > 0}" action="/processMemberPayment" method="post" >
								<table class="table table-hover table-fixed">
									<thead>
										<tr>
											<th>Select</th>
											<th>Credit Card</th>
											<th>Name</th>
											<th>Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="card : ${cards}">
											<td><label for="card"></label><input type="radio" id="card" name="card_choice" required></td>
											<td><span th:text="${card.maskedCardNumber()}" ></span></td>
											<td><span th:text="${card.cardholder_name}" ></span></td>
											<td><span th:text="${card.expiration_year}" ></span></td>
										</tr>
									</tbody>
								</table>

								<button type="submit" class="btn btn-primary">Select</button>
								<a href="/registerCard" class="btn btn-outline-primary">Add New Card</a>
							</form>
						</div>

						<div th:if="${cards.size() == 0}">
							<h4 class="text-center">No stored payment methods detected.<br/>
								Please add a Payment Method and restart the booking process.</h4>
							<div>
								<a href="/registerCard" class="btn btn-outline-primary">Add New Card</a>
							</div>
						</div>
					</div>

					<div th:if="${entry.name} == 'GUEST'">

						<form name="card_form" action="/processGuestPayment" method="post" th:object="${cardForm}" >

							<div class="form-group">
								<label for="cardholder_name">CARDHOLDER NAME</label>
								<input type="text" class="form-control" id="cardholder_name" name="cardholder_name" required>
								<span class="error" th:if="${#fields.hasErrors('cardholder_name')}" th:errors="*{cardholder_name}"></span>
							</div>

							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="card_type">CREDIT/DEBIT CARD</label>
										<select class="form-control" id="card_type" name="card_type" required>
											<option value="">Choose ...</option>
											<option value="Visa Debit">Visa Debit</option>
											<option value="Visa Electron">Visa Electron</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="card_number">CARD NUMBER</label>
								<input type="text" class="form-control" id="card_number" name="card_number" placeholder="Credit Card Number" th:field="*{card_number}"
									   oninput="creditCardNumberValidator(document.card_form.card_number)" onkeydown="clearCardErrors()" required>
								<label for="number_validity"><span color="red" id="number_validity"></span></label>
								<span class="error" th:if="${#fields.hasErrors('card_number')}" th:errors="*{card_number}"></span>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6" >
									<label for="expiration_month">EXPIRES</label>
									<input type="number" class="form-control" id="expiration_month"
										   placeholder="Month" name="expiration_month" min="1" max="12"
										   onkeyup="monthValidator(document.card_form.expiration_month)" onkeydown="clearErrors()" required>
									<label for="month_validity"><span color="red" id="month_validity"></span></label>
									<span class="error" th:if="${#fields.hasErrors('expiration_month')}" th:errors="*{expiration_month}"></span>
								</div>

								<div class="form-group col-md-6">
									<label for="expiration_year">.</label>
									<input type="number" class="form-control" id="expiration_year" placeholder="Year"
										   name="expiration_year" min="2021" max="2029"
										   onkeyup="yearValidator(document.card_form.expiration_year)" onkeydown="clearErrors()" required>
									<label for="year_validity"><span color="red" id="year_validity"></span></label>
									<span class="error" th:if="${#fields.hasErrors('expiration_year')}" th:errors="*{expiration_year}"></span>
								</div>
							</div>

							<div class="form-row" >
								<div class="form-group col-md-6" >
									<label for="security_code">SECURITY CODE</label>
									<input type="text" class="form-control" id="security_code" name="security_code"
										   onkeyup="cvvValidator(document.card_form.security_code)" onkeydown="clearErrors()" required>
									<label for="security_code_validity"><span color="red" id="security_code_validity"></span></label>
									<span class="error" th:if="${#fields.hasErrors('security_code')}" th:errors="*{security_code}"></span>
								</div>
	<!--								<div class="form-group col-md-6">-->
	<!--									-->
	<!--								</div>-->
							</div>

							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										I agree to the Terms and Conditions
									</label>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Add to Account</button>
						</form>
					</div>
				</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>