<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change Password</title>

        <div th:replace="fragments/header :: header-data"></div>
    </head>

    <body>

        <nav th:replace="fragments/header :: navigation-bar"></nav>

        <div class="container">

            <h2>Change your password</h2>

            <form method="POST" th:action="@{/editPassword/{username}(username = ${user.getUsername()})}" th:object="${passwordUpdateForm}">

                <div class="form-group">
                    <label for="currentPassword">Current Password: </label>
                    <input type="password" name="currentPassword" id="currentPassword" class="form-control" th:field="*{currentPassword}"
                           placeholder="Enter Current Password" onkeyup="CheckPasswordStrength(this.value);" onkeydown="clearErrors()" required/>
                    <span class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input id="newPassword" type="password" name="newPassword" placeholder="Set New Password" th:field="*{newPassword}"
                           class="form-control" onkeyup="CheckPasswordStrength(this.value);" onkeydown="clearErrors()" required/>
                    <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Confirm New Password:</label>
                    <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Repeat New Password" th:field="*{passwordConfirm}"
                           class="form-control"  onkeyup="CheckPasswordStrength(this.value);" onkeydown="clearErrors()" required/>
                    <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" onclick="showPassword()" class="custom-control-input" id="viewPwd">
                    <label class="custom-control-label" for="viewPwd">Show <span id="password_strength"></span> Password</label>
                    <br/>
                    <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>

                <div class="container row" th:if="error != null">
                    <p class="error" th:text="${error}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="javascript:history.back()" class="btn btn-link">Back</a>
            </form>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>