<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<meta name = "viewport" content="width = device-width, intial-scale = 1">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<style type="text/css">

			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: white;
				color: black;
				text-align: left;
				padding-right: 1%;
			}

			table {
			    counter-reset: tableCount;     
			}

			.counterCell:before {              
			    content: counter(tableCount); 
			    counter-increment: tableCount; 
			}

		</style>

		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
		<script src="javascript/script.js"></script>
		<script src="script.js"></script>


	</head>
	<body>
		<div class="container">
		  <div class="row">
		    <div class="col-8">
		    	<h1>Secure Airways</h1>
		    </div>
		    <div class="col-2" style="margin-top: 15px">	
		    	<button type="button" class="btn btn-outline-secondary">Sign up</button>
		    </div>
		    <div class="col-2" style="margin-top: 10px">	
		    	<button type="button" class="btn btn-primary btn-lg">Log in</button>
		    </div>
		  </div>
		</div>
		<hr style="color: green; display: block;" >

<!-- 		<div class="container" th:if="${#arrays.isEmpty(flightDetails)}">
			<h2>No flights found to the destination city</h2>
			<br>
			<form action="/userFlightSelection" method="post" >
				<button name="inputFlightIndex" type="submit" value="0">See Hotels</button>
			</form>
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-12"><h5>Search Results</h5>
					<h6>Select a Flight</h6>
                    <form action="/userFlightSelection" method="post" >
                        <div class="container">
                            <table class="table">
                            	<thead>
  								<tr>
                                	<th>#</th>
                                    <th>Departure</th>
                                    <th>Destination</th>
                                    <th>Outbound Time</th>
                                    <th>Arrival Time</th>
                                </tr>
								</thead>
								<tbody>
                                <tr th:each="displayedFlight : ${displayedFlights}">
                                	<td class="counterCell"></td>
                                    <td th:text="${displayedFlight.source} "></td>
                                    <td th:text="${displayedFlight.destination} "></td>
                                    <td th:text="${displayedFlight.departure_date_time} "></td>
                                    <td th:text="${displayedFlight.arrival_date_time} "></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
						  <div class="form-group row">
						    <label for="inputFlightIndex" class="col-sm-4 col-form-label">Enter the Index of Flight</label>
						    <div class="col-sm-2">
						      <input type="text" class="form-control" id="inputFlightIndex" placeholder="Flight" name="inputFlightIndex" required="required">
						    </div>
						    <div class="col-sm-6">
						    </div>
						  </div>
						<br>
						<button type="submit" class="btn btn-primary">Submit</button>

					</form>
					<br>
				</div>
			</div>
		</div>
		 <div class="footer">
		 	<p>&copy; 2021 Email: <a href="mailto:olanipekun.akintola@ucdconnect.ie">olanipekun.akintola@ucdconnect.ie</a>.</p>
 		 </div>

		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	</body>
    </html>