<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>

		<div th:replace="fragments/header :: header-data"></div>
	</head>

	<body>

		<nav th:replace="fragments/header :: navigation-bar"></nav>

		<div class="container">
			<div class="row">
				<div class="col-8"><h3>Flights</h3>
					<table>
						<tr>
<!-- 						We can use this space to display result???
 -->						</tr>
					</table>
					<br>

				</div>
				<div class="col-4">
					<h4>Choose Flights</h4>
					<form action="/processFlightSearch" method="post" >
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="from">From</label>
									<select class="form-control" id="from" name="departure" required>
										<option value="">Departure City</option>
										<option value="Sofia, Bulgaria">Sofia, Bulgaria</option>
										<option value="Dublin, Ireland">Dublin, Ireland</option>
										<option value="Stockholm, Sweden">Stockholm, Sweden</option>
										<option value="Oslo, Norway">Oslo, Norway</option>
										<option value="Rio de Janeiro, Brazil">Rio de Janeiro, Brazil</option>
										<option value="Manila, Philippines">Manila, Philippines</option>
										<option value="Seoul, South Korea">Seoul, South Korea</option>
										<option value="Tokyo, Japan">Tokyo, Japan</option>
										<option value="Bucharest, Romania">Bucharest, Romania</option>
										<option value="Pyongyang, North Korea">Pyongyang, North Korea</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for="to">To</label>
									<select class="form-control" id="to" name="destinationInput" required>
										<option value="">Destination City</option>
										<option value="Sofia, Bulgaria">Sofia, Bulgaria</option>
										<option value="Dublin, Ireland">Dublin, Ireland</option>
										<option value="Stockholm, Sweden">Stockholm, Sweden</option>
										<option value="Oslo, Norway">Oslo, Norway</option>
										<option value="Rio de Janeiro, Brazil">Rio de Janeiro, Brazil</option>
										<option value="Manila, Philippines">Manila, Philippines</option>
										<option value="Seoul, South Korea">Seoul, South Korea</option>
										<option value="Tokyo, Japan">Tokyo, Japan</option>
										<option value="Bucharest, Romania">Bucharest, Romania</option>
										<option value="Pyongyang, North Korea">Pyongyang, North Korea</option>
									</select>
								</div>
							</div>
						</div>
<!-- 					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="oneWayTrip" id="oneWayTripRadio1" value="true" required="required">
						<label class="form-check-label" for="inlineRadio4">One Way</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="oneWayTrip" id="oneWayTripRadio2" value="false" required="required">
						<label class="form-check-label" for="inlineRadio5">Return Trip</label>
					</div> -->
				<!-- 	<br> -->
					<br>
						<div class="row">
							<div class="col">

							<label for="name">Passengers</label>
							<input type="number" class="form-control" placeholder="Number of Travellers" name="passengers" min="1" max="10" required="required">

							</div>
						</div>
					<br>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="outboundDate">Date</label>
								<br>

								<input type="date" id="outboundDate" name="outboundDate" min="2020-11-28" max="2021-12-31" required="required">

							</div>
						</div>
<!-- 						<div class="col">
							<div class="form-group">
								<label for="returnDate">Return</label>
								<br>
								<input type="date" id="returnDate" name="returnDate" min="2020-11-28" max="2021-12-31">
							</div>
						</div> -->
					</div>
					<br><br>
					<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>