<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Passenger Detail</title>

		<div th:replace="fragments/header :: header-data"></div>
	</head>

	<body>

		<nav th:replace="fragments/header :: navigation-bar"></nav>

		<div class="container">
			<div class="row">
				<div class="col-8">
					<h4>Enter Other Passenger Details</h4>
					<form action="/processOtherPassengerDetails" method="post">
						 <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="firstName">FirstName</label>
						      <input type="text" class="form-control" id="firstName" placeholder="name" name="name" required>
						    </div>
						    <div class="form-group col-md-6">
						      <label for="lastName">LastName</label>
						      <input type="text" class="form-control" id="lastName" placeholder="surname" name="surname" required>
						    </div>
						 </div>
						 <div class="form-group">
						    <label for="inputAddress">Address</label>
						    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" required>
						 </div>
						 <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="inputEmail">Email</label>
						      <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com" name="email" required>
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputPhoneNumber">Phone Number</label>
						      <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="123-456-7890" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
						      <small>Format:123-456-7890</small>
						    </div>
						 </div>

						 <button type="submit" class="btn btn-primary">NEXT</button>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>

	</body>
</html>