<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/common.css">



    <script type="text/javascript">
        function editInputField() {
            $("#newUsername").removeAttr("readonly");
            $("#newUsername").removeAttr("placeholder");
            $("#newName").removeAttr("readonly");
            $("#newName").removeAttr("placeholder");
            $("#newSurname").removeAttr("readonly");
            $("#newSurname").removeAttr("placeholder");
            $("#newPhone").removeAttr("readonly");
            $("#newPhone").removeAttr("placeholder");
            $("#newEmail").removeAttr("readonly");
            $("#newEmail").removeAttr("placeholder");
            $("#newAddress").removeAttr("readonly");
            $("#newAddress").removeAttr("placeholder");
            $("#newCreditCardDetails").removeAttr("readonly");
            $("#newCreditCardDetails").removeAttr("placeholder");

            $("#password").removeAttr("readonly");
            $("#passwordDuplicate").removeAttr("readonly");

            var saveBtn = document.getElementById("saveInfo");

            if (saveBtn.style.display == 'none') {
                saveBtn.style.display = 'block';
            } else {
                saveBtn.style.display = 'none';
            }

            var editBtn = document.getElementById("editButton");
            if (editBtn.style.display == 'block') {
                editBtn.style.display = 'none';
            } else {
                editBtn.style.display = 'block';
            }
        }

        function saveNewUserInfo() {
            var saveBtn = document.getElementById("saveInfo");

            // disables/enables save button
            if (saveBtn.style.display == 'none') {
                saveBtn.style.display = 'block';
            } else {
                saveBtn.style.display = 'none'
            }

            // disables/enables edit button
            var editBtn = document.getElementById("editButton");
            if (editBtn.style.display == 'block') {
                editBtn.style.display = 'none';
            } else {
                editBtn.style.display = 'block';
            }

            $("#newUsername").prop('readonly', true);
            $("#password").prop('readonly', true);
            $("#passwordDuplicate").prop('readonly', true);
        }
    </script>

</head>

<body>
<!--<div th:replace="common/head.html"></div>-->

<!-- <form action="GET" method="/userProfile"> -->
<div class="container-fluid" style="padding-top: 1%;">
    <form method="POST" action="/editProfile">

        <div class="row container-fluid">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">First Name: </label>
            </div>
            <div class="col-2">
                <input readonly type="text" name="newName"
                       id="newName" class="form-control"
                       th:placeholder="${user.getName()}" />

            </div>

<!--            <a href="#" class="btn btn-primary" role="button"-->
<!--               id="editButton" style="display: block;"-->
<!--               onclick="editInputField()">Edit</a>-->
        </div>

        <div class="row container-fluid">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Surname: </label>
            </div>
                <div class="col-2">
                    <input readonly type="text" name="newSurname"
                           id="newSurname" class="form-control"
                           th:placeholder="${user.getSurname()}" />

                </div>

<!--            <a href="#" class="btn btn-primary" role="button"-->
<!--               id="editButton" style="display: block;"-->
<!--               onclick="editInputField()">Edit</a>-->
            </div>



        <div class="row container-fluid">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Username:</label>
            </div>
                <div class="col-2">
                    <input readonly type="text" name="newUsername"
                           id="newUsername" class="form-control"
                           th:placeholder="${user.getUsername()}" />
                </div>
        </div>

        <div class="row container-fluid">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Phone: </label>
            </div>
                <div class="col-2">
                    <input readonly type="text" name="newPhone"
                           id="newPhone" class="form-control"
                           th:placeholder="${user.getPhone()}" />
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">E-mail: </label>
            </div>
            <div class="col-2">
                <input readonly type="text" name="newEmail"
                       id="newEmail" class="form-control"
                       th:placeholder="${user.getEmail()}" />
            </div>
        </div>

            <div class="row container-fluid">
                <div class="col-1 align-self-center">
                    <label
                            style="font-family:'Courier New', Courier, monospace;">Address: </label>
                </div>
                <div class="col-2">
                    <input readonly type="text" name="newAddress"
                           id="newAddress" class="form-control"
                           th:placeholder="${user.getAddress()}" />
                </div>
            </div>

            <div class="row container-fluid">
                <div class="col-1 align-self-center">
                    <label
                            style="font-family:'Courier New', Courier, monospace;">Credit Card Details: </label>
                </div>
                <div class="col-2">
                    <input readonly type="text" name="newCreditCardDetails"
                           id="newCreditCardDetails" class="form-control"
                           th:placeholder="${user.getCredit_card_details()}" />

                </div>
                <a href="#" class="btn btn-primary" role="button"
                   id="editButton" style="display: block;"
                   onclick="editInputField()">Edit</a>

            </div>

                <a href="#" class="btn btn-primary" role="button"
                   id="editButton" style="display: block;"
                   onclick="editInputField()">Edit</a>


        <div class="row container-fluid" style="margin-top: 3px;">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Password:</label>
            </div>
            <div class="col-2">

                <input id="password" type="password" name="password"
                       readonly placeholder="Set password"
                       class="form-control" />
            </div>
        </div>

        <div class="row container-fluid" style="margin-top: 3px;">
            <div class="col-1 align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Confirm
                    password:</label>
            </div>
            <div class="col-2">
                <!-- <input readonly type="text" name="username"
                    id="userConfirmPassword" class="form-control" /> -->

                <input id="passwordDuplicate" type="password"
                       name="passwordDuplicate" readonly
                       placeholder="Confirm password"
                       class="form-control" />
            </div>
        </div>
        <div class="buttons">
            <input type="submit" value="Save">
        </div>
    </form>
</div>