<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
        <meta name = "viewport" content="width = device-width, intial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <style type="text/css">

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: white;
                color: black;
                text-align: left;
                padding-right: 1%;
            }

        </style>

        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="javascript/script.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Secure Airways</h1>
                </div>
                <div class="col-2" style="margin-top: 15px">
                    <button type="button" class="btn btn-outline-secondary">Sign up</button>
                </div>
                <div class="col-2" style="margin-top: 10px">
                    <button type="button" class="btn btn-primary btn-lg">Log in</button>
                </div>
            </div>
        </div>

        <form action="/register" method="POST">
            <h2>Register An Account</h2>
            <div class="txt">
                <input id="name" type="text" name="name"
                       placeholder="First Name" />
                <label for="name" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="surname" type="text" name="surname"
                       placeholder="Surname" />
                <label for="surname" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="username" type="text" name="username"
                       placeholder="Username" />
                <label for="username" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="password" type="password" name="password"
                       placeholder="Password" />
                <label for="password" class="entypo-lock"></label>
            </div>

            <div class="txt">
                <input id="passwordDuplicate" type="password" name="passwordDuplicate"
                       placeholder="Confirm password" />
                <label for="password" class="entypo-lock"></label>
            </div>

            <div class="txt">
                <input id="phone" type="number" name="phone"
                       placeholder="Phone Number" />
                <label for="phone" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="email" type="text" name="email"
                       placeholder="E-mail Address" />
                <label for="email" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="address" type="text" name="address"
                       placeholder="Address" />
                <label for="address" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="credit_card_details" type="text" name="credit_card_details"
                       placeholder="Credit Card Details" />
                <label for="credit_card_details" class="entypo-user"></label>
            </div>

            <div class="buttons">
                <input type="submit" value="Register" />
            </div>

            <div class="container">
            <span th:if="error != null">
              <div class="row">
                <p style="color:red;font-weight:bold;" th:text="${error}"></p>
              </div>
            </span>
            </div>

        </form>
    </body>
</html>