<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>
        
        <div th:replace="fragments/header :: header-data"></div>
    </head>
    <body>
        
        <nav th:replace="fragments/header :: navigation-bar"></nav><div th:replace="fragments/footer :: footer"></div>

        <form action="/register" method="POST" th:object="${user}">

            <h2>Register An Account</h2>
            <div class="txt">
                <input id="name" type="text" name="name" placeholder="First Name" />
                <label for="name" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="surname" type="text" name="surname" placeholder="Surname" />
                <label for="surname" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="username" type="text" name="username" placeholder="Username" />
                <label for="username" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="password" type="password" name="password" placeholder="Password" />
                <label for="password" class="entypo-lock"></label>
            </div>

            <div class="txt">
                <input id="passwordDuplicate" type="password" name="passwordDuplicate" placeholder="Confirm password" />
                <label for="password" class="entypo-lock"></label>
            </div>

            <div class="txt">
                <input id="phone" type="number" name="phone" placeholder="Phone Number" />
                <label for="phone" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="email" type="text" name="email" placeholder="E-mail Address" />
                <label for="email" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="address" type="text" name="address" placeholder="Address" />
                <label for="address" class="entypo-user"></label>
            </div>

            <div class="txt">
                <input id="credit_card_details" type="text" name="credit_card_details" placeholder="Credit Card Details" />
                <label for="credit_card_details" class="entypo-user"></label>
            </div>

            <div class="buttons">
                <input type="submit" value="Register" />
            </div>
        </form>
        <div class="container">
            <span th:if="error != null">
                <div class="row">
                    <p style="color:red;font-weight:bold;" th:text="${error}"></p>
                </div>
            </span>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>