<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Flight</title>

  <div th:replace="fragments/header :: header-data"></div>
</head>
<body>

<nav th:replace="fragments/header :: navigation-bar"></nav>

<div class="container">

  <h2>Update Reservation Details</h2>

  <form th:action="@{/updateRedservationInfo}" method="GET">
    <div>
      <input type="hidden" id="reservationID" name="reservationID" th:value="${reservationID}">
    </div>

    <div class="form-group">
      <label for="guestEmail">Guest</label>
      <input type="text" id="guestEmail" name="guestEmail" placeholder="GUEST E-mail">
    </div>

    <div class="form-group">
      <label for="userID">User Name</label>
      <input type="text" id="username" name="username" placeholder="User Name">
    </div>

    <div class="form-group">
      <label for="userID">Flight</label>
      <input type="number" id="flightID" name="flightID" placeholder="Flight ID">
    </div>

    <button type="submit" class="btn btn-primary">Update Reservation</button>

  </form>


    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>