<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Profile</title>

    <div th:replace="fragments/header :: header-data"></div>
</head>

<body>

    <nav th:replace="fragments/header :: navigation-bar"></nav>

    <div class="container">
        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">First Name: </label>
                <span  th:text="${user.getName()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Surname: </label>
                <span  th:text="${user.getSurname()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Username: </label>
                <span  th:text="${user.getUsername()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Address: </label>
                <span  th:text="${user.getAddress()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">E-mail: </label>
                <span  th:text="${user.getEmail()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Phone: </label>
                <span  th:text="${user.getPhone()}"></span>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="align-self-center">
                <label
                        style="font-family:'Courier New', Courier, monospace;">Credit Card Details: </label>
                <span  th:text="${user.getCredit_card_details()}"></span>
            </div>
        </div>
    </div>

    <form method="GET" action="/editProfile">
        <input type="submit" value="Edit Profile"/>
    </form>

<!--    <form method="GET" th:action="|@{/delete/${user.getRegistrationID()}}|">-->
<!--        <input type="submit" value="Delete Profile"/>-->
<!--    </form>-->
    <a th:href="@{/delete/{id}(id = ${user.getRegistrationID()})}" class="btn btn-danger">Delete Profile</a>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
</body>



</html>