<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Flights</title>

  <div th:replace="fragments/header :: header-data"></div>
</head>

<body>

  <nav th:replace="fragments/header :: navigation-bar"></nav>

  <div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <a href="/registerFlight">Create a Flight</a>
        <div th:each="entry: ${sessionUser.getRoles()}">
          <div th:if="${entry.name} == 'ADMIN'">
            <div class="col-lg-12 align-self-center">
              <table class="table table-hover table-fixed">
                <thead>
                <tr>
                  <th>Flight ID</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Departing</th>
                  <th>Arriving</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="flight : ${flights}">
                    <td th:text="${flight.flightID}"></td>
                    <td th:text="${flight.source}"></td>
                    <td th:text="${flight.destination}"></td>
                    <td th:text="${flight.departure_date_time}"></td>
                    <td th:text="${flight.arrivalDateTime}"></td>

<!--                    <td><a th:href="@{/updateFlight(id=${flight.flightID})}">Update</a></td>-->
                    <td>
                      <form th:action="@{/updateFlight}" th:object="${flight}" method="post">
                        <input type="hidden" name="flightID" th:value="${flight.flightID}">
                        <button type="submit" class="btn btn-link">Update</button>
                      </form>
                    </td>

<!--                    <td><a th:href="@{/deleteFlight(id=${flight.flightID})}" th:method="delete">Delete</a></td>-->
                    <td>
                    <form th:action="@{/deleteFlight}" th:object="${flight}" method="post">
                      <input type="hidden" name="flightID" th:value="${flight.flightID}">
                      <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>